/* .container{
    margin-bottom: 15 0px;
}
.form-group{
    margin-top: 20px;
    width: 50%;
    margin-left: 200px;
    
} */

button{
   
    width: 150px;
    height: 50px;
    background-color: #bd5d38;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #fff;
    border: none; 
    margin-bottom: 20px;   
}

.container{
    background-color: #dcdcdc;
    width: 50%;
    margin-top: 200px;
}

h3{
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: black;
    border: none; 
    margin-bottom: 20px;   
    
}
label{
    font-weight: bold;
    color: black;    
}
small{
    color: red;
  
}