<section class="resume-section" id="interesses">
    <div class="resume-section-content">
        <h2 class="mb-5">Interessses</h2>
        <p>No meu tempo livre gosto de praticar esportes, jogos virtuais e auxiliar meus país nas atividades diárias na propriedade da família.</p>
        <p class="mb-0">Quando em casa, assisto vários filmes e programas de televisão de ficção científica e fantasia, também passo grande parte do meu tempo livre explorando os mais recentes avanços tecnológicos no mundo do desenvolvimento web front-end.</p>
    </div>
</section>
