<app-navbar></app-navbar>
<div class="container-fluid p-0">  
    <app-sobre></app-sobre>        
    <hr class="m-0" />    
    <app-experiencias></app-experiencias>
    <hr class="m-0" />    
    <app-escolaridade></app-escolaridade>
    <hr class="m-0" />  
    <app-linguagens></app-linguagens>
    <hr class="m-0" />    
    <app-interesses></app-interesses>
    <hr class="m-0" />    
    <app-certificacoes></app-certificacoes>
    <hr class="m-0" />    
    <app-contato></app-contato>
    </div>    
    
<app-footer></app-footer>


