<section class="resume-section" id="escolaridade">
    <div class="resume-section-content">
        <h2 class="mb-5">Escolaridade</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Técnico em Agropecuária</h3>
                <div class="subheading mb-3">EFAORI</div>                
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Janeiro 2008 - May 2011</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Tecnologo em Irrigação e Drenagem</h3>
                <div class="subheading mb-3">Tecnologo em Irrigação e Drenagem</div>                
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2012 - Agosto 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Gestão da Tecnologia da Informação (Cursando)</h3>
                <div class="subheading mb-3">Instituto Federal - Campus Urutaí</div>
                
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Janeiro 2019 - Agosto 2023</span></div>
        </div>                
    </div>
    
</section>
